body {
	display: flex;
	gap: 4rem;
}

.overview {}

.overview__button {

	display: flex;
	justify-content: space-evenly;
	font-size: 2rem;
	background-color: lightgrey;
	border-radius: 1rem;
	height: 3rem;
	width: 15rem;
	align-items: center;
	margin-left: 1rem;
	margin-top: 0.5rem;



}

.overview__button:hover {
	background-color: var(--color-primary);
}



.component {
	display: none;
	flex-flow: column;
	gap: var(--spacing-medium);

}

.component--visible {
	display: flex;

}